<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title><%= @title || "Untitled Page" %></title>
  
  <%= stylesheet_link_tag "jquery-ui.css", :media => "screen" %>
  <%= stylesheet_link_tag "base.css", :media => "screen" %>
  <%= stylesheet_link_tag "jquery.tipsy.css", :media => "screen" %>
  <%= stylesheet_link_tag "activo/activo.css", :media => "screen", :id => "current-theme" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "activo/activo-ie.css", :media => "screen" %>
  <![endif]-->
  <%= stylesheet_link_tag "activo-attrtastic/attrtastic_changes.css", :media => "screen" %>
  <%= stylesheet_link_tag "activo-formtastic/formtastic.css", :media => "screen" %>
  <%= stylesheet_link_tag "activo-formtastic/formtastic_changes.css", :media => "screen" %>
  <%= stylesheet_link_tag "application.css", :media => "screen" %>
  
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js" %>
  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.6/jquery-ui.min.js" %>
  <%= javascript_include_tag "jquery.scrollTo.js" %>
  <%= javascript_include_tag "jquery.localscroll.js" %>
  <%= javascript_include_tag "application.js" %>
  <%= javascript_include_tag "jquery.tipsy.js" %>
  <%= javascript_include_tag "rails.js" %>
  
  <%= csrf_meta_tag %>
  
  <%= header %>
  <%= yield :head %>
</head>

<body>
  <div id="container">
    <div id="header">
      <%= content_tag("div", status_menu, :id => "status") if respond_to? :status_menu %>
      <h1><a href="index.html"></a></h1>
      <%= navigation(:id => "user-navigation") { |n| user_navigation(n) } if respond_to?(:user_navigation) %>
      <%= navigation(:id => "main-navigation") { |n| main_navigation(n) } if respond_to?(:main_navigation) %>
    </div>
    <div id="wrapper" class="wat-cf">
      <div id="<%= @full_width ? 'full-main' : 'main' %>">
        <div class="flash">
          <% [ :warning, :notice, :error ].each do |f| -%>
            <%= content_tag("div", "<p>#{flash[f]}</p>".html_safe, :class => "message #{f}") unless flash[f].nil? %>
          <% end %>
        </div>
        <%= yield %>
      </div>
      <% if respond_to? :sidebar %>
        <div id="sidebar">
          <%= sidebar %>
        </div>
      <% end %>
    </div>
  </div>
</body>
</html>
